body{background-color:#EFBCD5;}
p {
	color:black;font-size:18px
  }
a:hover{
		color:#A7CAB1;
	   }
img {
    border:none;
    }

table, th, td{
			background:#82667F;
			color: white;
			border: 2px solid white;
			border-collapse: collapse;
			}
nav,aside {
	text-align:center;
	background:#88B7B5;
	display:inline-block; /*allows it to sit in line with other elements*/
	width:25%;
	vertical-align:top;
	margin-top:20px;
    }
header {
		text-align:center;
		padding:2%;
		background-color: #AF71B5;
       }
footer  {
		background-color:#AF71B5;
		text-align:center;
        }
main 	{
		background-color:#965EAD;
		display:inline-block;
		width:49%;
		vertical-align:top;
		margin-top:20px;
		}
section{
		display:inline-block;
        width:60%;
		background:#965EAD;
		margin-top:20px;
       }
section.NavBar	{
				background:#965EAD; 
				width:30%;
				border:black;
				border-width:2px;
				display:inline-block;
				vertical-align:top;
				text-align:center;
				}

nav.SideNav {
				text-align:center;
				width:30%;
				display:inline-block;
			}
article.left{
		background:#8242A1;
		display:inline-block;
		margin-top:10px;
		width:45%;
		text-align:center;
			}
article.right {background:#8242A1;
		width:45%;
		text-align:center;
		display:inline-block;
		margin-top:10px;
		vertical-align:top;
		}
*{box-sizing: border-box;margin:0;}

h1,h2,h3,h4,h5{text-align:center;}

article{margin-top:20px;}

.centerimg { /*helps me center any images*/
  display: block;
  margin-left: auto;
  margin-right: auto;
		}


body.IndexBody {
				background-image: url("../images/void.jpg");
				background-size: cover;
				background-position: center;
			}
		
nav ul{
	list-style-type:none; /*no bullets */
	padding:0;
	}
nav ul li{margin:2em;} /*to space the items out */
nav ul li a {text-decoration:none;background:#98C1B3;padding:0.5em;} /*no underlines */
nav ul li a:hover{background:#965EAD;} /*pseudo css to detect hover*/

.leftimg {
	display:block;
	margin-right: auto;
	}
	
article.boxmethod {
		background-color:#965EAD;
		margin: 10px;
		padding: 10px;
		border-radius: 8px;
		vertical-align:top;
		}
		
main.transparent { /*makes the background transparent*/
		background-color:transparent;
		display:inline-block;
		width:49%;
		vertical-align:top;
		margin-top:20px;
		}
main.abtme{
	background-color:#965EAD;
	display:block;
	width:80%;
	vertical-align:top;
	margin: auto;
}
nav.aboutmenav{
	text-align:center;
	background:#88B7B5;
	display:inline-block;
	width:100%;
	vertical-align:top;
	margin-top:10px;
}
.centertext{
	text-align:center;
}
section.imgdisplay{
	display:flex;
	gap: 20px;
}
article.centralised
{
	text-align:center;
}

@media (max-width:960px){ /*if width <= 960px desktop*/
	article.boxmethod {
			background-color:#965EAD;
			margin: 10px;
			padding: 10px;
			border-radius: 8px;
			vertical-align:top;
			}
			
	main.transparent { /*makes the background transparent*/
			background-color:transparent;
			display:inline-block;
			width:49%;
			vertical-align:top;
			margin-top:20px;
			}
	main.abtme{
		background-color:#965EAD;
		display:block;
		width:80%;
		vertical-align:top;
		margin: auto;
	}
	nav.aboutmenav{
		text-align:center;
		background:#88B7B5;
		display:inline-block;
		width:100%;
		vertical-align:top;
		margin-top:10px;
	}
	.centertext{
		text-align:center;
	}
	section.imgdisplay{
		display:flex;
		gap: 20px;
	}
	article.centralised
	{
		text-align:center;
	}
	nav,aside {
	text-align:center;
	background:#88B7B5;
	display:inline-block;
	width:25%;
	vertical-align:top;
	margin-top:20px;
    }
}

@media (max-width: 768px){ /*if width <= 768px tablet*/
	article.boxmethod {
	background-color:#965EAD;
	display: inline-block;
	border-radius: 8px;
	vertical-align:top;
	}
	nav,aside {
	text-align:center;
	background:#88B7B5;
	display:inline-block;
	width:100%;
	vertical-align:top;
	margin-top:10px;
    }
	main.transparent { /*makes the background transparent*/
	background-color:transparent;
	display:inline-block;
	width:100%;
	vertical-align:top;
	margin-top:20px;
	}
	main.abtme{
	background-color:#965EAD;
	display:inline-block;
	width:100%;
	vertical-align:top;
	}
	section.imgdisplay{
	display:inline-block;
	width:auto;
	height:auto;
	}
	nav.aboutmenav{
	text-align:center;
	background:#88B7B5;
	display:inline-block;
	width:100%;
	vertical-align:top;
	margin-top:10px;
	}
	.centerimg {
	}
	.centertext{
	}
	main {
	background-color:#965EAD;
	display:inline-block;
	width:100%;
	vertical-align:top;
	margin-top:10px;
	}
	section.NavBar	{
	background:#965EAD; 
	width:100%;
	border:black;
	border-width:2px;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	}
	section{
	display:inline-block;
	width:100%;
	background:#965EAD;
	margin-top:10px;
   }

}

@media (max-width: 320px){ /*if width <= 320px mobile*/
	article.boxmethod {
	background-color:#965EAD;
	border-radius: 8px;
	vertical-align:top;
	
	}
	nav,aside {
	text-align:center;
	background:#88B7B5;
	display:inline-block;
	width:100%;
	vertical-align:top;
	margin-top:10px;
    }
	main.transparent { /*makes the background transparent*/
	background-color:transparent;
	width:100%;
	vertical-align:top;
	margin-top:10px;
	float: left;
	}
	main.abtme{
	background-color:#965EAD;
	display:inline-block;
	width:100%;
	vertical-align:top;
	}
	section.imgdisplay{
	display:block;
	width:100%;
	height:100%;
	}
	nav.aboutmenav{
	text-align:center;
	background:#88B7B5;
	display:inline-block;
	width:100%;
	vertical-align:top;
	margin-top:10px;
	}
	.centerimg {
	width:100%;
	height:100%;
	}
	.centertext{

	}
	main {
	background-color:#965EAD;
	display:inline-block;
	width:100%;
	vertical-align:top;
	margin-top:5px;
	}
	section.NavBar	{
	background:#965EAD; 
	width:100%;
	border:black;
	border-width:2px;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	}
	section{
	display:inline-block;
	width:100%;
	background:#965EAD;
	margin-top:10px;
   }
	table, th, td{
	background:#82667F;
	color: white;
	border: 1px solid white;
	width:100%;
	max-width:100%;
	word-break:break-word; /*helps to break long text to fit within the size limit*/
	}
}