.page{width:80vw;height:80vh;}
/*nav ul li{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-items:center;
	margin:2em;
}*/
nav{
	background:#00000035; /*extra 2 numbers is to adjust transparentcy*/
	max-width:1300px;
	margin-left: auto;
	margin-right: auto;
	border-radius:15px;
}

nav ul {
  display: flex;
  flex-direction: row; /* keep the buttons side by side*/
  flex-wrap: nowrap; /* prevents them from dropping to a new line */
  justify-content: center; /* centers the row horizontally */
  align-items: center; /* keeps them level vertically */
  gap: 10px;
  list-style: none; /*removes the dots*/
  margin: 0;
  padding: 0;
}

/*#page1{background:} #73956F main body colour
#page2{background:}
#page3{background:}*/

body {
	background-image: url("../images/web-dev wallpaper_80.png"); /*bg image*/
	background-size:cover;
}

.MainHead {
	text-align:center;
}

/*CSS for responsive menu*/
#hamIcon{display:none;}
@media screen and (max-width:800px){
/*make a menu items vertical*/
 nav ul li{display:block;}
 
/*unhide menu icon*/
 #hamIcon{display:block;} 

/*hide the menu item list*/
 nav ul{display:none;} 
}

/*to unhide menu items*/
.menuShow{display:block;} 

#ball {
  background: cyan;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover{
		color:#0000FF;
	   }
	   
article,section {
	text-align:center;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
}
article{
	background-size:cover;
	background:#00000035;
	border-radius:15px;
}

.figrow2 {
  display:grid;
  grid-template-columns:repeat(2, 1fr); /*number represents how many imgs in a row*/
  gap:10px 40px;
  justify-items:center;
  text-align:center;
}

.figrow3 {
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap:10px 40px;
  justify-items:center;
  text-align:center;
}
.roundimg{
	border-radius:15px; /*rounds the corners of images*/
}